#wrapper-footer {
  background: $bg-primary;
  // position: relative;
  bottom: 0;
  padding:0;
  left:0;
  right:0;
  width:100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
   right: 0;
   bottom: 0;
   margin-top:2%;

.site-info {
  .social {
    padding:15px;
    display: inline-block;
    justify-content: right;
    a {
      color: #ffffff;
    }

    @media screen and (max-width: 575px) {
      display: flex;
      text-align: center;
      margin-top: 5px;
      flex-direction: row;
      justify-content: center;
    }
  }

    .footer-link {
      justify-content: space-between;

      @media screen and (max-width: 767px) {
        width:100%;
      }

      ul {
        list-style-type: none;

        li {
          list-style-type: none;
          display: flex;
          float: left;
          width:auto;
          margin-left: 5%;
          padding-right: 5%;
          top:0px;
          text-align: center;
          justify-content: space-between;

          &:not(:last-child){
            border-right:1px solid #ffffff;
          }

          & a {
            color: #ffffff;
            font-weight: bold;
            text-decoration: none;
            display: block;
            list-style-type: none;
            text-align: center;
            padding-right:10px;

            &:hover {
              color: $brand-third;
            }
          }

        }
      }
    }

  }




}
